{%extends 'blog/base.html'%}
{%load tags%}

{%block content%}
    {%for post in posts%}
        {%if forloop.counter|modulo:3 == 1%}
            <div class="post-row">
        {%endif%}
                <div class="post">
                    <div class="date">
                       {{post.published_date}}
                    </div>
                    <h1><a href="{%url 'post_detail' pk=post.pk%}">{{post.title}}</a></h1>
                    <p>{{post.text|linebreaksbr}}</p>
                </div>
        {%if forloop.last or forloop.counter|modulo:3 == 0%}
            </div>
        {%endif%}
    {%endfor%}
{%endblock%}
